<section class="current-forecast-container">
  <div class="outside time">Wednesday 22/05/2024, 11:21 AM</div>
  <img class="weather-icon" src="assets/Images/icons/{{icon}}.png" alt="forecast" />
  <div class="temp-container">
    <div class="temp">26°</div>
    <div class="temp-scale">C</div>
    <div class="real-feel">Feels Like 28°C</div>
  </div>
  <div class="outside">
    <span>Morning - </span>
    <span>Scattered Clouds</span>
  </div>
</section>
<section class="current-forecast-details-container">
  <div class="details-row">
    <span> Sunrise /  Sunset</span>
    <span class="details-value">6:14 AM / 5:49 PM</span>
  </div>
  <div class="details-row">
    <span>Humidity</span>
    <span class="details-value">79%</span>
  </div>
  <div class="details-row">
    <span>Wind Speed / Direction</span>
    <span class="details-value">4 km/h / 48° {{getDirection(48)}}</span>
  </div>
  <div class="details-row">
    <span> Latitude /  Longitude</span>
    <span class="details-value">-35.36548 / 47.25475</span>
  </div>
  <div class="details-row">
    <span>Last Updated</span>
    <span class="details-value">11:20 AM</span>
  </div>
</section>
