<div class="location-search-container">
  <button (click)="onSearcGPSLocation()" mat-flat-button color="primary" class="btn-gps">
    <mat-icon class="mat-18">gps_fixed</mat-icon>
  </button>
  <span *ngIf="showQuerySearch">
    <input [(ngModel)]="searchQuery" (keyup.enter)="onSearchQueryLocation()" class="input-location-search" type="text" name="search" placeholder="Search weather by city." autocomplete="off">
    <button class="btn-location-search" mat-flat-button color="primary">
      <mat-icon class="mat-18">search</mat-icon>
    </button>
  </span>
</div>
